# ML & analytics
numpy==1.22.2
scipy==1.8.0
pandas==1.4.1 
scikit-learn==1.0.2 
xgboost==1.5.2
# infra
pyarrow==7.0.0
boto3==1.21.13
kafka-python==2.0.2
# coding support
cloudpickle==2.0.0 
requests==2.27.1
python-dotenv==0.20.0
# graphics
altair==4.2.0 
vega==3.6.0